// ------- text-aling ----
.text-center {
  text-align: center;
}

// ------- margin -----
.m-auto {
  margin: auto;
}

// ..... marign-bottom
.mb-10 {
  margin-bottom: 10px;
}

// ------ gap -----
.gap-10 {
  gap: 10px;
}

// ------ flex --------
.flex {
  display: flex;
}