@forward '../global/general';

.flip-y {
  @extend .card;

  .flip-y__front, .flip-y__back { 
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .flip-y__front { 
    backface-visibility: hidden;
  }

  &:hover { 
    .flip-y__front { 
      transform: rotateY(360deg);
    }

    .flip-y__back { 
      transform: rotateY(180deg);
    }
  }
}

.flip-x {
  @extend .card;

  .flip-x__front, .flip-x__back { 
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .flip-x__front { 
    backface-visibility: hidden;
  }

  &:hover{ 
    .flip-x__front { 
      transform: rotateX(360deg);
    }
    .flip-x__back {
      transform: rotateX(180deg);
    }
  }
}
    