.icon-box {
  width: initial;
  height: initial;
  border: initial;
  border-radius: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all .3s;

  &:hover {
    transform: scale(2);
  }

  &::before {
    content: '';
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    opacity: 0;
    position: absolute;
    inset: 0;
    transition: all .4s;
  }

  &:hover::before {
    opacity: 1;
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    opacity: 0;
    position: absolute;
    top: 10px;
    z-index: -1;
    transition: all .4s;
  }

  &:hover::after {
    opacity: 1;
  }

  & .icon, .icon-text {
    color: initial;
    position: absolute;
    transition: all .3s;
    font-size: 1.4rem;
  }

  .icon-text {
    transform: scale(0);
  }

  .icon {
    transform: scale(1);
  }

}

.icon-spontiando {
  @extend .icon;
  border: 1px solid #008DDA;
  border-radius: 50px;

  &::before {
    content: '';
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    position: absolute;
    transform: translateY(-200%);
    z-index: -1;
    transition: all .3s;
  }

  &:hover::before {
    animation: show-icon .5s forwards;
  }

  @keyframes show-icon {
    0% {
      transform: translateY(-200%);
    }
  
    90% {
      transform: translateY(0%);
    }
  
    100% {
      transform: translateY(0%) scale(2);
  
    }
  }
}