.icon-box {
  width: initial;
  height: initial;
  border: initial;
  border-radius: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all .3s;

  &:hover {
    width: initial * 2;
  }

  &::before {
    content: '';
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    opacity: 0;
    position: absolute;
    inset: 0;
    transition: all .4s;
  }

  &:hover::before {
    opacity: 1;
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    opacity: 0;
    position: absolute;
    top: 10px;
    z-index: -1;
    transition: all .4s;
  }

  &:hover::after {
    opacity: 1;
  }

  & .icon, .icon-text {
    color: initial;
    position: absolute;
    transition: all .3s;
    font-size: 1.4rem;
  }

  .icon-text {
    transform: scale(0);
  }

  .icon {
    transform: scale(1);
  }

}