@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Ubuntu+Condensed&display=swap');

$font-ubunto: "Ubuntu Condensed", sans-serif;
$font-grotesk: "Familjen Grotesk", sans-serif;


$blue-darling: #00224D;
$white: #FFFF;
$BLACK: #0000;

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: {
    family: $font-ubunto
  }
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
}
.container {
  width: 100%;
  height: 100%;
  // background-color: red;
}

.wrapped {
  width: auto;
  height: auto;
}

// menu

.menu {
  height: 80px;
  padding: .5rem;
  background-color: $blue-darling;
}

.menu__list {
  display: flex;
  align-items: center; 
  gap: 5px;
}

.menu__item {
  display: inline-block;
}

.menu__link {
  padding: .4rem .5rem;
  border-radius: 10px; 
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 2px;
  color: $white;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.justity-between {
  justify-content: space-between;
}

.button {
  padding: .3rem .4rem;
  color: #FF204E;
  background-color: #00224D;
}

// titles

.title-midum {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 1px;
}

// text

.text-center {
  text-align: center;
}

// grid

.grid {
  display: grid;
}

.grid-center-items {
  justify-content: center;
}

.col-fill-250-fr {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.row-auto-250 {
  grid-auto-rows: 250px;
}

.gap-10 {
  gap: 10px;
}
// footer 

.footer {
  width: 100%;
  padding: 1.2rem;
  background-color: #00224D;
  position: absolute;
  bottom: 0;
}