a {
  text-decoration: none;
}
.container {
  width: 100%;
  height: 100%;
  // background-color: red;
}

.wrapped {
  width: auto;
  height: auto;
}

.menu {
  padding: .5rem;
}

.menu__list {
  display: flex;
  align-items: center; 
  gap: 5px;
}

.menu__item {
  display: inline-block;
}

.menu__link {
  font-size: 1.2rem;
  font-weight: 800;
  padding: .4rem .5rem;
  border-radius: 10px; 
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: .3rem .4rem;
  color: #FF204E;
  background-color: #00224D;
}